IOS_BUNDLE_ID=com.flavor.original
AOS_APPLICATION_ID=com.flavor.original

IOS_BUNDLE_SHORT_VERSION_STRING=1
AOS_VERSION_NAME=1

IOS_BUNDLE_VERSION=1.0.0
AOS_VERSION_CODE=1

IOS_BUNDLE_NAME=original
AOS_APP_NAME=original

IOS_BUNDLE_URL_SCHEMES=test
AOS_SCHEME=test

IOS_APP_STORE_ID=1234

AOS_KEY_ALIAS=test
AOS_KEY_PASSWORD=test
AOS_STORE_FILE=.keystore
AOS_STORE_PASSWORD=test
